.app_wrapper {
  display: flex;
  width: 100%;
   max-width: 1200px;
  margin: 0 auto;
flex-direction: column;
}

.app_wrapper_content {
  background-color: lightyellow;
  position: relative;
  width: 75%;
}

.app_main {
  display: flex;
}


